  /* GRILL EFECT ON IMAGES */
  .col {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }

  .col img {
    margin-top: 8px;
    vertical-align: middle;
  }

  /* Clear floats after the columns */
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
